#footer{
    text-align: center;
    background-color: black; /* delete later*/
}
#main{
  background-color: white;
  padding-top: 75px;
  justify-content: center;
}
body{
  background-color: #343a40;
}
a{
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}